.user-profile {
  padding: 10px;
  text-align: center;

  .user-image {
    max-width: 200px;
    max-height: 200px;
    border-radius: 50%;
    overflow: hidden;
    margin: auto;
    display: inline-block;
  }
  .login-google {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
  }
}
