<section class="about bg-primary text-white text-center">
   <div class="row container">
    <div class="col-lg-5">
      <h2 class="about-title mb-3 wow animate__animated animate__zoomIn"> 
        ABOUT ME</h2>
      <p class="about-description wow animate__animated animate__zoomIn" data-wow-delay=".3s">
        I started my journey as a Front end developer & Wordpress designer 
        3 years ago in companies, I've done many remote work for 
        agencies also, consulted for startups and collaborated with 
        talented people to create many E-commerce & Websites  for 
        both business and consumer use. I'm quietly confident,
         naturally curious, and perpetually working on improving my 
         coding skills.</p>
    </div>
  
    <div class="col-lg-7">
      <h2 class="about-title mb-3 wow animate__animated animate__zoomIn">WORK EXPERIENCE</h2>
      <ul class="about-description wow animate__animated animate__zoomIn" data-wow-delay=".3s">
         <li><span>2015-2016</span> Technical Support Agent at TEDATA</li>
         <li><span>2016-2017</span> Sales Specialist at Invest Group</li>
         <li><span>2018-2019</span> Front End Trainee at Spectra Company</li>
         <li><span>2019-2020</span> Junior Front End & Wordpress Developer at New Era Agency</li>
         <li><span>2019-2020</span> Junior Wordpress Developer at Media House Egy Agency (Part time)</li>
         <li><span>Jan 2020 <br>to present</span>Front End & Wordpress Developer at Tagerly.net</li>
      </ul>
    </div>
   </div>
</section>
