<section class="skills px-3">
  <div class="container">
    <div class="row no-gutters">
      <div class="col-md-4 skills-card">
        <div class="wow animate__animated animate__zoomIn">
          <i class="icon-web-coding"></i>
        </div>
        <h2 class="wow animate__animated animate__fadeIn">Front End Developer</h2>
        <p class="wow animate__animated animate__fadeIn">I build Landing Pages & Websites with the best practice , Recently i studied Angular & start make some small tasks</p>
        <br />
        <div class="wow animate__animated animate__zoomIn">
          <strong>Language I speak:</strong>
        </div>
        <p class="wow animate__animated animate__fadeIn">HTML5, CSS3, Bootstrap<br> Javascript & Jquery</p>
        <br />
        <div class="wow animate__animated animate__zoomIn">
          <strong>More Services: </strong>
        </div>
        <p class="wow animate__animated animate__fadeIn">Agile</p>
        <p class="wow animate__animated animate__fadeIn">Jira Tool</p>
        <p class="wow animate__animated animate__fadeIn">GitLab</p>
        <p class="wow animate__animated animate__fadeIn">Firebase</p>
        <p class="wow animate__animated animate__fadeIn">Hosting Servers</p>
        <p class="wow animate__animated animate__fadeIn">Photoshop</p>
   
      </div>
      <div class="col-md-4 skills-card">
        <div class="wow animate__animated animate__zoomIn">
          <i class="icon-smartphone"></i>
        </div>
        <h2 class="wow animate__animated animate__fadeIn">Wordpress Developer</h2>
        <p class="wow animate__animated animate__fadeIn">I build Landing pages , 
          Business Websites & E-Commerce Stores with the highest quality, simple & beautiful designs</p>
        <br />
        <div class="wow animate__animated animate__zoomIn">
          <strong>Things I enjoy doing:</strong>
        </div>
        <p class="wow animate__animated animate__fadeIn">Building websites, E-commerce & learn new technologies</p>
        <br />
        <div class="wow animate__animated animate__zoomIn">
          <strong>Dev Tools:</strong>
        </div>
        <p class="wow animate__animated animate__fadeIn">Integration</p>
        <p class="wow animate__animated animate__fadeIn">Security</p>
        <p class="wow animate__animated animate__fadeIn">performance</p>
        <p class="wow animate__animated animate__fadeIn">Troubleshooting</p>
        <p class="wow animate__animated animate__fadeIn">Maintenance</p>
      </div>
      <div class="col-md-4 skills-card">
        <div class="wow animate__animated animate__zoomIn">
          <i class="icon-server"></i>
        </div>
        <h2 class="wow animate__animated animate__fadeIn">Freelancing</h2>
        <p class="wow animate__animated animate__fadeIn">I'm intersted in freelancing and helping others in their projects & I have many of projects as a Freelancer , mentioned here</p>
        <br />
        <div class="wow animate__animated animate__zoomIn">
          <strong>Experiences I gained from:</strong>
        </div>
        <p class="wow animate__animated animate__fadeIn">Online Courses ,Companies & Freelancing</p>
        <br />
        <div class="wow animate__animated animate__zoomIn">
          <strong>Developer Stats:</strong>
        </div>
        <p class="wow animate__animated animate__fadeIn">3+ years experience</p>
        <p class="wow animate__animated animate__fadeIn">15+ project</p>
        <p class="wow animate__animated animate__fadeIn">5+ companies</p>
        <p class="wow animate__animated animate__fadeIn">20+ customer</p>
      </div>
    </div>
  </div>
</section>
