<footer class="footer">
  <div class="container">
    <!-- <div class="start-project flex-md-row flex-column">
      <h2 class="start-title">Start a project</h2>
      <p class="start-text">Interested in working together? We should queue up a chat. I’ll buy the coffee.</p>
      <div class="btn fs-4 py-2 px-5 btn-outline-secondary rounded-pill" data-bs-toggle="modal" data-bs-target="#conversationModal">Let's do this</div>
    </div> -->

    <div class="info">
      <!-- <div class="my-5">
        <img src="assets/imgs/logo/omar-logo.png" alt="omar logo" width="100px" height="100px" />
      </div>
      <p class="info-text">Living, learning, & leveling up one day at a time.</p>
      <ul class="social-icons my-5">
        <li *ngFor="let social of socialMedia">
          <a [href]="social.url" [target]="social.target">
            <i [class]="'reset-icon icon-' + social.icon"></i>
          </a>
        </li>
      </ul> -->
      <p class="mb-0 py-2">Copyright © 2021 Fatma Ahmed. All Rights Reserved</p>
    </div>
  </div>
</footer>
